@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&family=Kaushan+Script&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
}


/*------------------------------------------------------ NAVBAR--------------------------------------------------------------------  */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #01C1FF;
  padding: 15px 7% 10px 7%;
  height: 9vh;
  position: sticky;
  z-index: 2;
  top: 0;
}

.navbar #logo img {
    width: 138px;
    height: 40px;
    cursor: pointer;
}

.navbar .flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    padding: 30px;
    list-style: none;
    cursor: pointer;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;  
}

.navbar ul li a:hover {
    color: #FFCD01;
}

.navbar #btn {
    width: 175px;
    height: 55px;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 550;
    text-align: center;
    background-color: #FFCD01;
    cursor: pointer;
}

.navbar #btn:hover {
    background-color: #01C1FF;
    border: 3px solid #FFCD01;
    color: #FFCD01;
    transition: 0.5s;
}


/* Hamburger Menu Icon */

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: relative;
    background: none;
    border: none;
    z-index: 10;
    transition: all 0.25s;
    display: none;
}
  
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 3px;
    background: rgb(255, 255, 255);
    transform: rotate(0);
    transition: all 0.5s;
  }
  
  .hamburger-middle {
    transform: translateY(7px);
  }
  
  .hamburger-bottom {
    transform: translateY(14px);
  }
  
  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
  }
  
  .open .hamburger-middle {
    display: none;
  }
  
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
  }


  
  /* Mobile Menu */

  .mobile-menu {
    position: fixed;
    top: 10%;
    left: 8%;
    background-color: #fff;
    width: 85%;
    height: 40%;
    transition: all 0.3s;
  }

  .mobile-menu ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 25px;
  }

  
  .navbar .mobile-menu a {
    text-decoration: none;
    font-size: 16px;
    color: black;
  }
  
  .mobile-menu a:hover {
    color: #FFCD01;
  }

  
  .hidden {
    transform: translateY(-150%);
  }
  
  .no-scroll {
    overflow: hidden;
  }
  






/* -------------------------------------------------------banner section--------------------------------------------------------- */

.banner {
box-sizing: border-box;
position: relative;
padding-left: 8%;
background-image: url(/Assets/banner_bg.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 850px;
color: white;
}

.banner #italic{
    padding-top: 12%;
    font-family: "Kaushan Script", cursive;
    font-style: italic;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 550;
    margin-bottom: 34px;
}

.banner #big {
    width: 50%;
    font-size: 66px;
    text-transform: capitalize;
    font-weight: 790;
    line-height: 75px;
    background-image: url(/Assets/banner-big-heading.webp);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
}




/*---------------------------------------------------- Searchbar inside banner -----------------------------------------------------*/

.banner .searchbar {
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    background-color: #FFCD01;
    height: 20%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.left-searchbar {
    align-self: center;
    background-color: #fff;
    height: 70px;
    width: 60%;
    color: rgb(131, 127, 127);
    cursor: pointer;
    display: flex;
}

.left-searchbar-left-span {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-right: 2px solid rgb(156, 156, 156);
    margin-top: 15px;
    margin-bottom: 15px;
}

.left-searchbar-right-span{
    box-sizing: border-box;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.right-searchbar #search-btn{
  width: 200px;
  height: 70px;
  background-color: #00C1FE;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}





/* -------------------------------------------------- Donation section ----------------------------------------------------------> */

.donation {
    padding-bottom: 5%;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 15px 55px;
}

.donation-container {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    padding-top: 15%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    grid-gap: 20px;
    line-height: 1.5;
}

.donation p {
    color: rgb(134, 134, 134);
}


.donation a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-family: "Kaushan Script", cursive;
}

.donation a:hover {
    color: #00C1FE;
}




/* -------------------------------------------------------- section for tour ------------------------------------------------------- */


.tour {
    margin-top: 14%;
    margin-bottom: 15%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.tour #tour-left {
    width: 60%;
    margin-left: 8%;
}

.tour #tour-right {
    width: 40%;
    margin-right: 8%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


#amazing {
    margin-top: 50px;
    font-size: 3rem;
    font-weight: 500;
}

#amazing-para {
    color: rgb(107, 107, 107);
    line-height: 1.8;
}
#amazing-para-italic {
    font-style: italic;
    color: rgb(44, 44, 44);
    line-height: 1.8;
    margin-bottom: 50px;
}



.country-conatiner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
}

.counrty {
    box-sizing: border-box;
    border: 1px solid rgba(124, 121, 121, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.counrty:hover {
    background-color: #00C1FE;
    color: white;
}

.counrty img {
    width: 50px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.counrty h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 550;
}

.counrty h4 {
    margin: 0;
    padding-bottom: 25px;
    font-size: 1.5;
}





/* ---------------------------------------------  Most Popular place section -----------------------------------------------------------  */

.most-popular-place .top {
    display: grid;
    place-items: center;
    text-align: center;
 }
 
 .top #heading {
     margin-top: 3%;
     font-size: 2.5rem;
     margin-bottom: 3%;
 }
 
 .top #para {
    color: rgb(22, 22, 22);
    font-size: 17px;
     font-style: italic;
     line-height: 2;
     margin-bottom: 5%;
 }
 
 .most-popular-place .bottom {
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 30px;
     margin-left: 7%;
     margin-right: 7%;
     margin-bottom: 10%;
 }
 
 
 .bottom > div {
     display: grid;
     place-items: center;
     gap: 20px;
     padding: 30px;
     text-align: center;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
     padding-top: 80px;
     padding-bottom: 80px;
 }
 
 .bottom .heading {
     margin-top: 20px;
     font-size: 1.5rem;
 }
 
 .bottom .para {
     margin-top: 15px;
     margin-bottom: 30px;
     line-height: 2;
     color: rgba(77, 75, 75,0.7);
 }
 
 .bottom a {
     text-decoration: none;
     color: black;
     font-family: "Kaushan Script", cursive;
     font-size: 18px;
 }
 
 .bottom a:hover {
     color: #01C1FF;
 }
 

 /* ------------------------------------------------------ AMAZING TOUR BUS SECTION ----------------------------------------------- */

.amazing-tour-bus {
    margin-bottom: 12%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;
}

.amazing-tour-bus #mid img {
    width: 100%;
    height: 100%;
}

.amazing-tour-bus #right img {
    width: 100%;
}

.amazing-tour-bus #top-left {
  margin-left: 25%;
  margin-right: 30%;
}

.amazing-tour-bus #top-left p {
    font-size: 17px;
}

.amazing-tour-bus #absolute {
    position: absolute;
    top:65%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #FFCC00;
    width: 19%;
    height: 19%;
    display: grid;
    place-items: center;
    text-align: center;
    color: #000;
    font-size: 24px;
    font-family: "Kaushan Script";
}



/* ----------------------------------------------------- MEDIA QUERIES FOR MOBILE PHONES -------------------------------------------- */
/* ----------------------------------------------------- MEDIA QUERIES FOR MOBILE PHONES -------------------------------------------- */
/* ----------------------------------------------------- MEDIA QUERIES FOR MOBILE PHONES -------------------------------------------- */

@media screen and (max-width: 750px) {

    .navbar .hide {
        display: none;
    }
  
    .hamburger {
      display: block;
    }

    .banner #italic{
        padding-top: 12%;
        font-style: italic;
        font-size: 20px;
    }
    

    .banner {
    padding-top: 12%;
    padding-left: 5%;
    height: 610px;
    }

    .banner #big {
        width: 100%;
        font-size: 30px;
        font-weight: 790;
        line-height: 75px;
    }

    /*--------------- Searchbar inside banner -------------------*/
    .banner #searchbox {
        position: absolute;
        top: 88%;
        left: 45%;
        transform: translateX(-50%);
        width: 70%;
        height: 21%;
        display: flex;
        flex-direction: column;
        border: 5px solid #FFCD01;
    }
    
    
    .left-searchbar {
        position: absolute;
        top: 0;
        height: 68px;
        width: 100%;
      }

      

  .right-searchbar {
   position: absolute;
  top: 53%;
  width: 100%;
  height: 60px;
  background-color: #00C1FE;
  text-align: center;
  }

   .right-searchbar #search-btn{
    height: 60px;
  }



  /* donation section media queries */

.donation-container {
    padding-top: 20%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 40px;
}





/* -----Tour Section------------ */

.tour {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.tour #tour-left {
    width: 90%;
    margin-left: 5%;
}

.tour #tour-left img {
    width: 100%;
}

.tour #tour-right {
    width: 90%;
    margin-left: 5%;
    margin-right: 0;
}


#amazing {
    margin-top: 30px;
    font-size: 2rem;
    font-weight: 500;
}

#amazing-para, #amazing-para-italic {
    font-size: 17px;
}


.country-conatiner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 25px;
}


/* ------------ Most Popular Plac section ----------------- */


.most-popular-place .bottom {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}


.bottom > div {
    display: grid;
    place-items: center;
    gap: 10px;
    padding: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
}


/* --------AMAZING TOUR BUS ------------ */


.amazing-tour-bus {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-bottom: 35%;
}

.amazing-tour-bus #mid {
   order: 3;
   margin-left: 5%;
   margin-right: 5%;
}


.amazing-tour-bus #top-left,
.amazing-tour-bus #right {
  margin-left: 5%;
  margin-right: 5%;
}

.amazing-tour-bus #absolute {
    position: absolute;
    top: 106%;
    background-color: #FFCC00;
    width: 32%;
    height: 8%;
}


  
}
 


/* ----------------------------------------------------MEDIA QUERIES FOR TABS------------------------------------------------------- */
/* ----------------------------------------------------MEDIA QUERIES FOR TABS------------------------------------------------------- */
/* ----------------------------------------------------MEDIA QUERIES FOR TABS------------------------------------------------------- */
  
  @media screen and (min-width: 750px) and (max-width: 1160px) {

      .navbar .hide {
          display: none;
      }
  
      .hamburger {
          display: block;
        }

        .banner #italic{
            padding-top: 12%;
            font-style: italic;
            font-size: 28px;
        }
        
  
        .banner {
        padding-top: 8%;
        padding-left: 15%;
        height: 610px;
        }

        .banner #big {
            width: 100%;
            font-size: 45px;
            font-weight: 790;
            line-height: 75px;
        }

/*--------------- Searchbar inside banner ---------------------------*/
        .banner .searchbar {
            position: absolute;
            top: 88%;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
            height: 23%;
            display: flex;
            flex-direction: column;
            gap: 0;
            border: 5px solid #FFCD01;
        }
        
        
.left-searchbar {
    height: 70px;
    width: 100%;
    margin-top: 10px;
}


.right-searchbar {
  width: 100%;
  height: 70px;
  background-color: #00C1FE;
  text-align: center;
  margin-bottom: 10px;
}




  /* donation section media queries */

  .donation-container {
    padding-top: 15%;
    margin-left: 7%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}



/* -----Tour Section------------ */

.tour {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.tour #tour-left {
    width: 70%;
    margin-left: 15%;
}

.tour #tour-left img {
    width: 100%;
}

.tour #tour-right {
    width: 70%;
    margin-left: 15%;
}


#amazing {
    margin-top: 30px;
    font-size: 2rem;
    font-weight: 500;
}

#amazing-para, #amazing-para-italic {
    font-size: 17px;
}


.country-conatiner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}


/* ------- Most Popular Plac section ------- */


.most-popular-place .bottom {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
.bottom #grid-span3{
 grid-column: 1/3;
 margin-left: 25%;
 margin-right: 25%;
}


.bottom > div {
    display: grid;
    place-items: center;
    gap: 10px;
    padding: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
}



/* --------AMAZING TOUR BUS ------------ */


.amazing-tour-bus {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 18%;
}

.amazing-tour-bus #mid {
   margin-left: 5%;
   margin-right: 5%;
}


.amazing-tour-bus #top-left,
.amazing-tour-bus #right {
  margin-left: 5%;
  margin-right: 5%;
}

.amazing-tour-bus #absolute {
    position: absolute;
    top: 106%;
    background-color: #FFCC00;
    width: 20%;
    height: 10%;
}



}








